// ЦВЕТА
$color-white: #fff;
$color-main: #010514;
$color-action: #FF4C00;
$color-label: #7E7E7E;
$color-info: #031143;

$bg-header: #284622;
$bg-box: #C4C4C4;

// РАЗМЕРЫ
$baseFontSize: 16px;
$contentSize: 857px; 


// ШРИФТЫ
$mainFont: 'Montserrat', sans-serif;