section.content
	h2.visually-hidden Секция с контентом
	.container.content__container
		p.content__text Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в 
		ul.content__list
			li.content__item
				span.content__descr Lorem ipsum:
				p.content__info Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
			li.content__item
				span.content__descr Lorem ipsum:
				p.content__info Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
			li.content__item
				span.content__descr Lorem ipsum:
				p.content__info Lorem ipsumLorem ipsum
			li.content__item
				span.content__descr Lorem ipsum:
				p.content__info Lorem ipsumLorem ipsum
			li.content__item
				span.content__descr Lorem ipsum:
				p.content__info Lorem ipsum
			li.content__item
				span.content__descr Lorem ipsum:
				p.content__info Lorem ipsumLorem ipsum
			li.content__item
				span.content__descr Lorem ipsum:
				p.content__info Lorem ipsum
			li.content__item
				span.content__descr Lorem ipsum:
				p.content__info Lorem ipsum
			li.content__item
				span.content__descr Lorem ipsum:
				ul.content__info
					img(src="static/img/flag.svg", alt="Картинка флага России").content__img
					img(src="static/img/flag.svg", alt="Картинка флага России").content__img
					img(src="static/img/flag.svg", alt="Картинка флага России").content__img
					img(src="static/img/flag.svg", alt="Картинка флага России").content__img
					img(src="static/img/flag.svg", alt="Картинка флага России").content__img
					img(src="static/img/flag.svg", alt="Картинка флага России").content__img
			li.content__item
				span.content__descr Lorem ipsum:
				p.content__info
					img(src="static/img/flag.svg", alt="Картинка флага России").content__img
			li.content__item
				span.content__descr Lorem ipsum:
				ul.content__box.content-box
					li.content-box__item
					li.content-box__item
					li.content-box__item
					li.content-box__item
					li.content-box__item
					li.content-box__item
					li.content-box__item
					li.content-box__item
					li.content-box__item
					li.content-box__item
					li.content-box__item
					li.content-box__item
					li.content-box__item
					li.content-box__item
					li.content-box__item
					li.content-box__item
					li.content-box__item
					li.content-box__item
					li.content-box__item
					li.content-box__item